/*
* {
  border: 1px solid red;
}
*/

#header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
}

#logo {
  display: flex;
  color: MediumAquamarine;
}

#logo img {
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

nav span {
  display: inline-block;
  align-items: center;
}

nav a {
  color: black;
}
